body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
}

header {
    grid-column: 1 / 5;
    color: white;
    background-color: rgb(77, 77, 77);
}

nav {
    padding: 5px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    grid-column: 1 / 4;
    background-color: rgb(209, 209, 209);
}

footer {
    grid-column: 1 / 5;
    color: white;
    background-color: rgb(77, 77, 77);
    text-align: center;
}

main p,
aside p,
header p {
    padding-left: 10px;
}