@media screen and (min-width: 600px) {

    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    h1 {
        grid-column: 1 / 3;
    }

    nav {
        grid-column: 3 / 5;
        margin-right: 8px;
        flex-direction: row;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
    }


    div {
        margin: 1rem auto;
        grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    }

}